/* font //////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

/* reset //////////////////////// */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* base //////////////////////// */

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

main {
  flex: 100%;
}

/* header //////////////////////// */

.header {
  width: 100vw;
  height: 200px;
  position: relative;
}
.header__background {
  width: 100%;
  height: 100%;
  background-image: url('./img/header.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-0, -50%);
}
.header__logo img {
  width: 50px;
  height: 50px;
}

/* buttons //////////////////////// */

.buttons {
  padding: 70px 15px;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.button {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:focus {
  outline: none;
}
.button.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.button.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* content //////////////////////// */

.content {
}
.content__container {
  padding: 50px 15px;
}
.content__block {
  padding: 40px 0px;
  border-bottom: 1px solid gray;
}
.content__title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 25px;
}
.content__body {
  display: flex;
  gap: 40px;
}
.content__right {
  flex: 0 1 70%;
  font-size: 18px;
  line-height: 130%;
}
.content__img {
  flex: 0 1 30%;
}
.content__img img {
  width: 100%;
}

/* footer //////////////////////// */
.footer {
  background-color: #333333;
  padding: 30px 15px;
  color: #ffffff;
  text-align: center;
}

/* adaptive //////////////////////// */
@media (max-width: 1200px) {
  .content__text {
    flex: 0 1 50%;
  }
  .content__img {
    flex: 0 1 50%;
  }
}
@media (max-width: 992px) {
  .content__body {
    flex-direction: column;
    gap: 30px;
  }
  .content__body_left {
    flex-direction: column-reverse;
  }
  .buttons {
    flex-direction: column;
    gap: 50px;
    padding: 50px 45px;
  }
  .content__container {
    padding: 30px 15px;
  }
}
@media (max-width: 491px) {
  .content__text {
    font-size: 14px;
  }
}
